@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}


:root {
  --color1: #4A5759;
  --color2: #B0C4B1;
  --color3: #ffffff;
  --color4: #F7E1D7;
  --color5: #EDAFB8;
}

body{
  background: var(--color3);
  color: var(--color3);
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10em;
  border-bottom: .5px solid var(--color3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu{
  width: 100%;
  max-width: 450px;
  display: flex;
}

.menu ul{
  display: flex;
  list-style: none;
  width: 100%;
}

.menu ul li {
  width: calc(100% / 4);
  height: 2.5em;
  overflow: hidden;
  font-weight: 600;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  transition: all ease .25s;
  cursor: pointer;
}

.menu ul li span {
  transition: all ease .25s;
}

.menu ul li span:first-child{
  opacity: 1;
}

.menu ul li:hover span:first-child{
  transform: translateY(-1.5em); 
  opacity: 0;
}

.menu ul li span:last-child{
  opacity: 0;
}


.menu ul li:hover span:last-child{
  transform: translateY(-1.5em); 
  opacity: 1;
}

.menu ul li::before{
  content: '';
  height: 5px;
  width: 5px;
  background: var(--color3);
  position: absolute;
  bottom: -15px;
  opacity: 0;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  transition: all ease .25s;
}

.menu ul li:hover::before{
  bottom: 0px;
  opacity: 1;
}

.menu ul li.item-active::before{
  bottom: 0px;
  opacity: 1;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--color3);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.logo{
  width: 15em;
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50% , -50%);filter: grayscale(100%) brightness(74%) saturate(0%) contrast(1000%) invert(100%);
-webkit-filter: grayscale(100%) brightness(74%) saturate(0%) contrast(1000%) invert(100%);
-moz-filter: grayscale(100%) brightness(74%) saturate(0%) contrast(1000%) invert(100%);
}

button{
  width: 200px;
  border-radius: 50px;
  height: 3em;
  font-size: 15px;
  font-weight: 800;
  color: var(--color3);
  background: #67676739;
  backdrop-filter: blur(10px);
  border:none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-items: center;
  align-items: center;
  transition: all ease .25s;
  cursor: pointer;
}

button span{
  transition: all ease .25s;
}

button span:first-child{
  transform: translate(0% , 50%);
}
button span:last-child{
  transform: translate(0% , 100%);
}


button:hover span:first-child{
  transform: translate(0% , -100%);
}
button:hover span:last-child{
  transform: translate(0% , -50%);
}


main{
width: 100%;
}

main video{
  width: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-radius: 25px;
  transition: all ease .25s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
}


